*{
    margin:0;
    padding: 0;
    box-sizing: border-box; /*To box model*/
} /*to remove default styles from the browser*/

/* Global*/
body{
    font-family: "Merriweather", sans-serif;
    background-color: #ebf2ff;
    overflow-x: hidden;   
}

/*this button__primary is used multiple times so 
we remove or change nav__item to button primary 
so that it can be used anywhere otherwise the nav__item 
is present in navbar class so we can't access it */
.button__primary{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    ) ;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar__brand{
    width: 100px;
}

.navbar__logo{
    width: 100%; 
}

/*.nav__item{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    ) ;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
}*/

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.hero__container{
    width: 100%;
}

.hero__image__container{
    width: 100%;
}

.hero_image{
    width: 100%;
}

.hero__text{
    font-size: 30px;
    color: #1d3557;
    margin: 20px 0; /*top,bottom and left,right*/
}

.explore__menu__container{
    margin-top: 50px;
    text-align: center;
}

.explore__menu__text{
    font-size: 30px;
    color: #1d3557;
    margin: 20px 0;
}

.explore__menu__view__more{
    display: flex;
    justify-content: center;
}

.food__menu__card{
    width: 100%;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 15px;
}

.food__image{
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.food__menu__card__description{
    padding: 20px;
}
@media (min-width: 768px)
{
    .navbar{
        justify-content: space-between;
        padding: 10px 20px; /*top,botton and right,left*/
    }
    .navbar__brand{
        width: 150px;
    }
    .button__primary{
        padding: 12px 20px;
        font-size: 20px;
    }
    .hero__container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

}

@media (min-width: 1020px)
{
    .container{
        max-width: 900px;
    }
    .hero__text{
        font-size: 50px;
    }
}

@media (min-width: 1400px)
{
    .container{
        max-width: 1250px;
    }
    .hero__image__container{
        width: 100%;
    }   
}